#main{
    font-family: sans-serif;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
}

#header{
    padding-top: 5px;
    text-align: center;
    background: linear-gradient(135deg, #0a192f, #112240);
    color: #ffffff;
}
#header-image{
    border-radius: 20px;
    border: 3px solid black;
    width:270px; 
    height:300px;
}
#header a{color: aqua;text-decoration: none;}
#header h2{color: aquamarine;}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}
.navigation-li{
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aqua;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    width: 100px;
    height: 30px;
}
.navigation-li:hover{
    transition: 0.8s;
    transform: scale(1.05,1.05);
    box-shadow: 2px 2px 10px 4px black;
}
.navigation a{text-decoration: none;}

section{
    margin: 10px 0px 0px 0px;
    padding: 5px;
    padding-left: 5px;
    border: 2px solid rgb(5, 13, 43);
    box-shadow: 2px 2px 10px 1px black;
    border-radius: 5px;
}

#skills li{
    line-height: 1.5;
    font-weight:550;
}

.edu-table {
    border: 2px solid rgb(5, 13, 43);
    border-collapse: collapse;
    width: 100%;
}
.edu-table th,
.edu-table td {
    border: 1px solid rgb(5, 13, 43);
    padding: 12px;
}
.edu-table th {
    text-align: center;
}
.edu-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.projects-li{
    margin-bottom: 15px;
}
.projects-li2{
    margin-bottom: 5px;
    color:  #0f766e ;
}
#projects a{
    text-decoration: none;
    box-shadow: 1px 1xp 15px 15px black;
}
#projects a:hover{
    position: relative;
    margin: 0px 0px 0px 5px;

    transition: 1s;
    color: rgb(255, 0, 136);
    font-weight: 700;
    font-size:medium;
}

#contact{
    border-radius: 5px;
    width: 450px;
    padding: 5px;
}
#contact label{
    display: block;
}
#contact input:hover{
    transition: 0.5s;
    transform: scale(1.04,1.1);
    box-shadow: 1px 1px 10px 1px black;
}
#contact textarea:hover{
    transition: 0.5s;
    transform: scale(1.04,1.1);
    box-shadow: 1px 1px 10px 1px black;
}
#contact .contact-special-case{display: inline;}
#contact button:hover{
    transition: 0.3s;
    background-color: green;
    cursor: pointer;
    transform: scaleX(1.08) scaleY(1.08);
    box-shadow: 0px 0px 15px 2px aqua;
    font-weight: bolder;
    color: #e0ffff;
    border: 2px solid rgb(241, 120, 7);
}
 
footer{
    text-align: center;
    background:linear-gradient(135deg,rgb(57, 57, 106),rgb(51, 85, 139),rgb(13, 84, 109));
    color: white;
    font-size:20px;
    padding: 10px;
}
footer a{
    color: #ffd966;
    text-decoration: none;
}
footer a:hover{
    transition: 0.5s;
    font-size: 22px;
    /* color: rgb(252, 4, 4); */
    color: #ff7733  ;
}
